MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/<dbname>
PORT=5050
JWT_SECRET=<random-256-bit-hex-string>
JWT_REFRESH_SECRET=<random-256-bit-hex-string>
CLIENT_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379
